{{!-- En handlebars, tenemos que enviar un true o false
En caso de que sea true, se ejecuta el codigo debajo del "if",
caso contrario, se ejecuta el "else" --}}
{{#if mostrarProductos}}
    {{!-- Mostrar productos por un "forEach" llamado "each" --}}
{{#each productos}} {{! Renderizamos el "prods limit"}}
{{!-- Los mostramos en ( http://localhost:8000/products/ ) --}}
    <div class="cardContainer">
        <div class="cardGameAndTitle">
            <p>Juego:</p>
            <span>{{this.title}}</span>
        </div>
        <p>Genero: <span>{{this.desc}}</span></p>
        <img src={{this.img}} alt="Descripcion de {{this.desc}}">
        <div class="cardPriceAndStock">
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
    </div>
{{/each}}
{{else}}
    <p>No se pueden mostrar los productos</p>
{{/if}}
{{!-- Siempre hacer que cerrar la declarion if, else con un {{/if}} --}}